.header {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.header hr {
  width: 48px;
  height: 1px;
  border: none;
  background-color: #e2e4f0;
  transform: rotate(90deg);
}
.avatar {
  width: 28%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.avatar img {
  object-fit: cover;
}
